/* 
 Custom styles by Keena
*/

.wip {
    color: black;
    padding: 10px 100px;
    border: solid 1px black;
    text-align: center;
}

.wip-div {
    position: static;
    align-self: center;
    margin-top: 12%;
}